
@require('../scripts/css-vars-test.html')

    <!-- include additional scripts here BEFORE app scripts will run -->
    <%= htmlWebpackPlugin.files.js.map(src =>`
    <script type="module" src="${src}"></script>`).join("\n") %>

@require('../scripts/not-supported.script.html')

    <!-- include additional scripts here AFTER app scripts will run -->

</body>

</html>
