@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">

    <!-- page markup here -->

</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
