@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">

    <section>


        <div class="image-block bodymovin__wrap" data-bodymovin-path="../bodymovin/home/hero/hero-home.json" data-load-priority="1">
        </div>

    </section>

</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
