@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<%
    const Sitemap = require('sitemap');
    // get the page directly to hook it into webpack dev build process
    const page = Sitemap.getPage(Page);

    const Locale = page.output.locale;
    const Strings = page.output.copy;
    const BaseUrl = page.output.href;

    const logoURL = require('assets/img/logo.png');
%>

<main id="main" data-page-id="home">
    <!-- Examples of how to use/import images -->

    <img src="<%= logoURL %>" />
    <img src="../assets/img/logo.png" />

    <img src="../assets/img/zajno-logo.svg" />
    <!-- inline SVG -->
    <%= require('../assets/img/zajno-logo.svg?inline') %>

    <!-- lazy loading -->
    <img data-src="../assets/img/logo.png" class="lazy" />
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
