@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<%
    const Sitemap = require('sitemap');
    // get the page directly to hook it into webpack dev build process
    const page = Sitemap.getPage(htmlWebpackPlugin.options && htmlWebpackPlugin.options.page);

    const Locale = page.output.locale;
    const Strings = page.output.copy;
    const BaseUrl = page.output.href;
%>

<main id="main" data-page-id="home">
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
