@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">

    <section>


        <div class="image-block bodymovin__wrap" data-bodymovin-path="../bodymovin/home/hero/hero-home.json" data-load-priority="1">
        </div>

    </section>
    <section>
        <div class="action">
            <ul class="action-wrap">
                <div class="tab-navigation">
                     <div class="tab-prev">
                     </div>
                     <div class="tab-next">
                    </div>
                </div>
                <li class="tab-link active" data-nav-target="1">

                    <p class="label-tablet desc-1">Emotional</p>
                    <h4 class="desc-1 black dspl-tab-none">Emotional Health</h4>
                    <p class="desc-1 dspl-tab-none">History</p>

                </li>
                <li class="tab-link"  data-nav-target="2">

                    <p class="label-tablet desc-1">Resilience</p>
                    <h4 class="desc-1 black dspl-tab-none">Real-Time</h4>
                    <p class="desc-1 dspl-tab-none">Resilience Meters</p>

                </li>
                <li class="tab-link"  data-nav-target="3">

                    <p class="label-tablet desc-1">Trends</p>
                    <h4 class="desc-1 black dspl-tab-none">Understand</h4>
                    <p class="desc-1 dspl-tab-none"> Thematic Trends</p>
                    <div class="progress-bar">

                    </div>
                </li>
                <li class="tab-link"  data-nav-target="4">

                    <p class="desc-1 label-tablet">Analysis</p>
                    <h4 class="desc-1 black dspl-tab-none">Session</h4>
                    <p class="desc-1 dspl-tab-none">Analysis</p>

                </li>
            </ul>
            <ul class="tab-item">
                <li class="tab-item-wrap active" data-nav-id="1">
                    <p class="desc-1">Emotional Health <br>History</p>
                </li>
                <li class="tab-item-wrap" data-nav-id="2">
                    <p class="desc-1">Real-Time <br>Resilience Meters</p>
                </li>
                <li class="tab-item-wrap" data-nav-id="3">
                    <p class="desc-1">Understand <br>Thematic Trends</p>
                </li>
                <li class="tab-item-wrap" data-nav-id="4">
                    <p class="desc-1">Session <br>Analysis</p>
                </li>
            </ul>
        </div>
    </section>
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
