@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">

    <!-- page markup here -->
    <h1>Hi There! I'm home.</h1>

</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
