@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">

    <section>

        <!-- page markup here -->
        <h1>Hi There! I'm home.</h1>

    </section>

</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
