@require('./common/structure/head.ejs')

@inline css here@

<main id="main" data-page-id="no-script">

    <section class="no-script__section">
        <div class="no-script__container">
            <div class="no-script__logo-block">
                <img src="../assets/img/logo.png" alt="Zajno logo" class="no-script__logo-block__image" />
            </div>
            <div class="no-script__text-block">
                <h2 class="no-script__text-block__title title-no-script">JavaScript Required</h2>
                <p class="no-script__text-block__subtitle subtitle-no-script">
                    We’re sorry, but this website needs JavaScript enabled to run correctly. Please, turn it on and come back later. Thank you!
                </p>
                <p class="no-script__text-block__desc desc-no-script">
                    If you need help, use
                        <a href="https://www.enablejavascript.io/en" class="no-script__text-block__link" target="_blank" rel="nofollow noreferrer noopener">this link</a>
                    to get more information how to turn on JavaScript on your browser.
                </p>
            </div>
        </div>
    </section>

</main>

@require('./common/structure/foot.ejs')
