@require('./common/structure/head.ejs')
@require('../styles/common/no-script.html')
@require('./common/header.ejs')

<main id="main" data-page-id="noScript">

    <section class="no-script__section">
        <div class="no-script__container">
            <div class="no-script__logo-block">
                <img src="../assets/img/logo.png" alt="Zajno logo" class="no-script__logo-block__image" />
            </div>
            <div class="no-script__text-block">
                <h2 class="no-script__text-block__title title-no-script">JavaScript Required</h2>
                <p class="no-script__text-block__subtitle subtitle-no-script">
                    We’re sorry, but this website needs JavaScript enabled to run correctly. Please, turn it on and come back later. Thank you!
                </p>
            </div>
        </div>
    </section>

</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
