@require('./common/structure/head.ejs')

<main id="main" data-page-id="404">

    <section class="page-404__section">
        <div class="page-404__container">
            <div class="page-404__logo-block">
                <img src="../assets/img/logo.png" alt="Zajno logo" class="page-404__logo-block__image" />
            </div>
            <div class="page-404__text-block">
                <h2 class="page-404__text-block__title title-page-404">404 Error</h2>
                <p class="page-404__text-block__subtitle subtitle-page-404">
                    Page not found
                </p>
            </div>
        </div>
    </section>

</main>

@require('./common/structure/foot.ejs')
