<div id="mobile-menu" >
    <div class="close-btn-wrap" id="close-mob-menu">
        <a href="#" class="burger-menu__link menu-link up-text">
            <span class="burger-menu__text">close</span>
            <div class="burger-button">
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
                <span class="burger-button-dot"></span>
            </div>
        </a>
    </div>
    <div id="mobile-menu-sail-l" class="mobile-menu-sail" ></div>
    <div id="mobile-menu-sail-r" class="mobile-menu-sail" ></div>
    <ul id="mobile-menu-list" class="mobile-menu-links-list">
        <li data-expand="products-expand" class="mobile-menu-link-wrap expand-link oh"><a href="#" class="mobile-menu-link md-title" >Sample Menu Item</a></li>
        <li class="mobile-menu-link-wrap oh"><a href="#" class="mobile-menu-link md-title" >Sample Menu Item</a></li>
        <li class="mobile-menu-link-wrap oh"><a href="#" class="mobile-menu-link md-title" >Sample Menu Item</a></li>
    </ul>
    <ul class="expand-list products-expand">
        
    </ul>
</div>